*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app > div{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 20%, rgba(217,219,211,1) 20%, rgba(217,219,211,1) 100%);
}

#whatsapp{
    width: 80%;
    height: 95%;
}

#left-col{
    width: 30%;
    height: 100%;
}

#right-col{
    width: 70%;
    height: 100%;
}

#user-info{
    width: 100%;
    height: 25%;
}

#user{
    width: 100%;
    height: 35%;
}

#ring{
    width: 100%;
    height: 40%;
}

#search-chat{
    width: 100%;
    height: 25%;
}

#user-open-chat{
    width: 100%;
    height: 9%;
}

#chat{
    width: 100%;
    height: 82%;
}

#new-message{
    width: 100%;
    height: 9%;
}



