*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app > div{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(217,219,211,1) 15%, rgba(217,219,211,1) 100%);
}

#whatsapp{
    width: 80%;
    height: 95%;
}

#left-col{
    width: 30%;
    height: 100%;
}

#right-col{
    width: 70%;
    height: 100%;
}

#user-info{
    width: 100%;
    height: 22%;
}

#user{
    width: 100%;
    height: 37%;
    background-color: #EAEAEA;
}

#user, i{
    font-size: 1.1em;
}

#ring{
    width: 100%;
    height: 36%;
    background-color: #8EDAFC;
}

#ring span{
    font-size: 14px;
}

#search-chat{
    width: 100%;
    height: 27%;
    background-color: #FAFAFA;
}

#chat-list{
    background-color: #FFFFFF;
    height: 78%;
}

#user-open-chat{
    width: 100%;
    height: 8%;
    background-color: #EAEAEA;
    border-left: 1px solid #E0E0E0;
}

#chat{
    width: 100%;
    height: 84%;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
}

#new-message{
    width: 100%;
    height: 8%;
}

.round{
border-radius: 50%;
display: inline-block;
text-align: center;
line-height: 45px;
height: 45px;
aspect-ratio: 1;
}

#ring i{
    background-color: white;
    height: 50px;
    line-height: 50px;
}

.input-group-text, .form-control{
    border-radius: 0;
    color: white;
}

.font-14{
    font-size: 14px;
}


